

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
    
    section {
            background:radial-gradient(rgba(0,0,0,.50),
            rgba(0,0,0,70%)), 
            url(/Img/fundo-alien.jpg) 
            no-repeat center center/200%;
    }
    
    h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    div p{
        font-size: 1rem;
    }
    
    input {
        width: 90%;
    }
    
    #res {
        padding: 10px;
        font-size: 1rem;
    }
    
    /* ajustar */
    #footer p {
        margin-top: 30px;
        padding: 0px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {

    section {
        background:radial-gradient(rgba(0,0,0,.50),
        rgba(0,0,0,70%)), 
        url(/Img/fundo-alien.jpg) 
        no-repeat center center;
        padding: 5px;
}

    h1 {
        font-size: 1.5rem;
        margin: 10px 0 20px 0px;
    }
    
    div p{
        font-size: 1rem;
    }
    
    input {
        width: 70%;
    }
    
    #res {
        padding: 10px;
        font-size: 1rem;
    }
    
    /* ajustar */
    #footer p {
        margin-top: 30px;
        padding: 0px;
        font-size: 1rem;
    }
}